<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input type="text" name="message" id="message" />
    <button id="btn">送信</button>
    <ul id="list"></ul>

    <script src="/javascripts/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/my_chat.js"></script>
  </body>
</html>
